.page-generator {
  padding: 0;
  margin: 0 auto;
  display: flex;
  min-height: calc(100vh - 6rem);
  justify-content: center;
  align-items: center;
  max-width: 900px;
  flex-direction: row;
  overflow: hidden;

  @include for-size(phone-only) {
    flex-direction: column;
  }

  .result {
    width: 50%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include for-size(phone-only) {
      width: auto;
    }

    #loader-example {
      background: $color-light;
      min-height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      border: 1px solid $color-dark;
    }
  }

  .form {
    background: $light-grey;
    min-height: 350px;
    width: 50%;
    margin: 1rem;
    color: $color-dark;

    @include for-size(phone-only) {
      width: auto;
    }

    h2 {
      margin: 1rem 1rem 0 1rem;
      font-size: 1.4rem;
      border-bottom: 1px solid $color-light;
      padding: 0 0 1rem 0;
    }

    form {
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    label {
      display: inline-block;
      margin: 0.5rem 0 0;
      width: 50%;
    }

    .buttons {
      margin: 1rem 0 0;
      background: $color-light;
      min-height: 4rem;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    button {
      background: $color-dark;
      border: none;
      color: $color-light;
      border-radius: 5px;
      height: 25px;
      cursor: pointer;
      transition: filter 200ms ease;
      min-width: 100px;
      outline: none;

      @media (hover: hover) {
        /* Primary Input responds to hover fully, such as a mouse or a Nintendo Wii controller */
        &:hover {
          filter: invert(100%);
        }
      }
    }

    input {
      width: 50%;
    }

    input[type="range"] {
      width: 38%;
    }

    .badge {
      font-size: 0.8rem;
      width: 10%;
      text-align: center;
    }
  }
}
