@use "theme-colors";
@use "mixins";

.page-generator {
  padding: 0;
  margin: 0 auto;
  display: flex;
  min-height: calc(100vh - 7rem);
  justify-content: center;
  align-items: center;
  max-width: 900px;
  flex-direction: column;
  overflow: hidden;

  h2 {
    font-size: 2rem;
    padding: 1rem;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 7rem);
  }

  .sections {
    background: theme-colors.$light-grey;
    padding: 2rem;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: row;

    @include mixins.for-size(phone-only) {
      flex-direction: column;
    }
  }

  .form {
    color: theme-colors.$light-grey;
    width: 50%;
    margin-right: 2rem;
    background: theme-colors.$color-dark;

    @include mixins.for-size(phone-only) {
      margin: 0 0 2rem;
    }

    h2 {
      margin: 1rem 1rem 0;
      font-size: 1.4rem;
      border-bottom: 1px solid theme-colors.$color-light;
      padding: 0 0 1rem;
    }

    form {
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
    }

    label {
      display: inline-block;
      margin: 0.5rem 0 0;
      width: 50%;
    }

    .buttons {
      margin: 1rem 0 0;
      background: theme-colors.$color-light;
      min-height: 4rem;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    button {
      background: theme-colors.$color-dark;
      border: none;
      color: theme-colors.$color-light;
      border-radius: 5px;
      height: 25px;
      cursor: pointer;
      transition: filter 200ms ease;
      min-width: 100px;
      outline: none;

      @media (hover: hover) {
        /* Primary Input responds to hover fully, such as a mouse or a Nintendo Wii controller */
        &:hover {
          filter: invert(100%);
        }
      }
    }

    input {
      width: 50%;
    }

    input[type="range"] {
      width: 38%;
    }

    .badge {
      font-size: 0.75rem;
      width: 10%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .result {
    width: 50%;
    display: flex;
    flex-direction: column;

    #loader-example {
      background: theme-colors.$color-light;
      border: 1px solid theme-colors.$color-dark;
      padding: 1rem;
      text-align: center;
      overflow: hidden;
      transition: background-color 400ms ease;
    }

    .background-choice {
      margin-bottom: 1rem;
      font-size: 0.8rem;

      input {
        margin-left: 0.5rem;
      }
    }

    .code-block-container {
      position: relative;
      margin-top: 1rem;

      > p {
        margin-bottom: 0.5rem;
      }
    }

    .code-source .content {
      font-size: 0.8rem;
    }

    .source-js,
    .source-html {
      position: relative;
    }

    .btn-copy {
      position: absolute;
      right: 2px;
      top: 2px;
      cursor: pointer;
      outline: none;
      opacity: 0.3;
      transition: all 250ms ease;
      border-radius: 2px;
      transform: scale(0.9);

      @media (hover: hover) {
        /* Primary Input responds to hover fully, such as a mouse or a Nintendo Wii controller */
        &:hover {
          opacity: 1;
          transform: scale(1);
        }
      }
    }

    .copied-message {
      background: theme-colors.$color-dark;
      border: 1px solid theme-colors.$color-darker;
      color: theme-colors.$color-headband;
      border-radius: 2px;
      height: 1rem;
      line-height: 0.8rem;
      font-size: 0.6rem;
      font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
      padding: 0.2rem 0.4rem;
      margin: 0 auto;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      text-align: right;
      animation-duration: 300ms;
      animation-name: show-message;
      animation-timing-function: ease;

      &.hide {
        animation-name: hide-message;
        transform: translateY(1rem);
        opacity: 0;
      }
    }
  }

  @include mixins.for-size(phone-only) {
    .form,
    .result {
      width: auto;
    }
  }
}
