.page-app {
  padding: 0;
  margin: 0 auto;
  display: flex;
  min-height: calc(100vh - 7rem);
  justify-content: center;
  align-items: center;
  max-width: 900px;
  flex-direction: column;
  overflow: hidden;

  h2 {
    font-size: 2rem;
    padding: 1rem;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 7rem);
    justify-content: flex-start;
  }

  .sections {
    background: $light-grey;
    padding: 2rem;
    border-radius: 0.2rem;
  }

  section {
    margin-bottom: 2rem;
    background: $color-light;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include for-size(phone-only) {
      padding: 2rem 1rem;
      flex-direction: column;
    }

    &:last-child {
      margin: 0;
    }
  }

  .example {
    display: flex;
    justify-content: center;
    width: 100%;

    @include for-size(phone-only) {
      margin-bottom: 1rem;
    }
  }

  .buttons {
    display: flex;
  }

  button {
    display: inline-block;
    margin: 5px auto 0;
    width: 70px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #2590ae;
    border-radius: 3px;
    padding: 10px;
    text-shadow: -1px -1px 0 rgb(0 0 0 / 50%);
    text-align: center;
    color: #fff;
    background-color: #30b1e5;
    background-image: linear-gradient(to bottom, #30b1e5, #1c78a3);
    outline: none;

    &:hover {
      border: 1px solid #1c7493;
      background-color: #2693bc;
      background-image: linear-gradient(to bottom, #2693bc, #135b79);
      text-shadow: 2px 2px 0 rgb(0 0 0 / 50%);
    }
  }

  .btn-toggle {
    margin-right: 0.2rem;

    &::before {
      content: 'Hide';
    }

    &.hidden::before {
      content: 'Show';
    }
  }

  .btn-source {
    margin-right: 0.2rem;
  }

  .btn-reset {
    align-items: center;
    border-radius: 50%;
    display: none;
    flex-direction: column;
    font-size: 1.8rem;
    height: 100px;
    justify-content: center;
    position: relative;
    width: 100px;
  }

  &.empty {
    .btn-reset {
      display: flex;
    }

    .sections {
      display: none;
    }
  }
}
