<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>

<!-- Header here by webpack and htmlWebpackPlugin -->
<%= htmlWebpackPlugin.options.header %>

<div class="page page-dashboard" data-page-slug="Dashboard">
    <h2>Dashboard</h2>
    <section>
        <h3>Travis Status</h3>
        <img src="https://travis-ci.org/proustibat/svg-loader-es6-example.svg?branch=master"/>
    </section>

    <section>
        <h3>Code Climate</h3>
    </section>

    <section>
        <h3>Sonarcloud</h3>
    </section>


</div>
</body>
</html>
